<html>

<head>
    <title>Login and Registration</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/my_script.js') }}">
        $(document).ready(function () {
            $("").___();
        });
    </script>
</head>

<body>
    <div class='wrapper'>
        <h1>Login and Registration</h1>
        <h3>Register Here!</h3>
        <form action='/register' method='POST'>
            <div class='entry_field'>
                <h5>First Name:</h5>
                {% with errors = get_flashed_messages(category_filter=["first_name"]) %} {% if errors %} {%- for msg in errors %}
                <h6>{{msg}}</h6>
                {% endfor -%} {% endif %} {% endwith %}
                <input type='text' name='first_name'>
            </div>
            <div class='entry_field'>
                <h5>Last Name:</h5>
                {% with errors = get_flashed_messages(category_filter=["last_name"]) %} {% if errors %} {%- for msg in errors %}
                <h6>{{msg}}</h6>
                {% endfor -%} {% endif %} {% endwith %}
                <input type='text' name='last_name'>
            </div>
            <div class='entry_field'>
                <h5>Email:</h5>
                {% with errors = get_flashed_messages(category_filter=["email"]) %} {% if errors %} {%- for msg in errors %}
                <h6>{{msg}}</h6>
                {% endfor -%} {% endif %} {% endwith %}
                <input type='text' name='email'>
            </div>
            <div class='entry_field'>
                <h5>Password:</h5>
                {% with errors = get_flashed_messages(category_filter=["password"]) %} {% if errors %} {%- for msg in errors %}
                <h6>{{msg}}</h6>
                {% endfor -%} {% endif %} {% endwith %}
                <input type='text' name='password'>
            </div>
            <div class='entry_field'>
                <h5>Confirm Password:</h5>
                {% with errors = get_flashed_messages(category_filter=["confirm"]) %} {% if errors %} {%- for msg in errors %}
                <h6>{{msg}}</h6>
                {% endfor -%} {% endif %} {% endwith %}
                <input type='text' name='confirm'>
            </div>
            <button type = 'submit'>Register</button>
        </form>
        <form action = '/login_page'>
            <button>Log In</button>
        </form>
        </div>
</body>

</html>