<html>

<head>
    <title>Mellon</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/my_script.js') }}">
        $(document).ready(function () {
            $("").___();
        });
    </script>
</head>

<body>
    <div class='wrapper'>
        <h3>Welcome {{session['first_name']}}</h3>
        {% with msg = get_flashed_messages()%} {% if msg %} {%- for lur in msg %}
        <h6>{{lur}}</h6>
        {% endfor -%} {% endif %} {% endwith %}
        <p>We have no choice now but to brave the long dark of Moria</p>
        <form action='/clear'>
            <button class='logout' type='submit'>Logout</button>
        </form>
    </div>
</body>

</html>